.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.no-results {
  text-align: center;
  color: #aaa;
  margin-top: 40px;
}
